<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>507407990537-8j32ee4eb2atri26qlhcjgr0jkjhkrop.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.507407990537-8j32ee4eb2atri26qlhcjgr0jkjhkrop</string>
	<key>API_KEY</key>
	<string>AIzaSyB8P-hZ0tAla-YFp9lqKg3Yq3fnK0sE6M4</string>
	<key>GCM_SENDER_ID</key>
	<string>507407990537</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.alexwayne.qreate</string>
	<key>PROJECT_ID</key>
	<string>qreate-f1cd2</string>
	<key>STORAGE_BUCKET</key>
	<string>qreate-f1cd2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:507407990537:ios:69f190616d619384d09dd8</string>
</dict>
</plist>